body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
    .header1 {
    background-color: #f4511e;
    color: #fff;
    font-family: Montserrat, sans-serif;
    padding: 120px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-fluid{
    padding: 60px 50px;
  }
  h1{
      font-size: 64px;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .fa-signal, .fa-globe{
      font-size: 200px !important;
      color: #f4511e;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px !important;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    background-color: #fff;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    }
    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
      }
      .navbar-nav li a:hover, .navbar-nav li.active a {
        color: #f4511e !important;
        background-color: #fff !important;
      }
      .navbar-default .navbar-toggle {
        border-color: transparent;
        color: #fff !important;
      }
  .fa-chevron-left, .fa-chevron-right{
    color: #f4511e;
    font-size: 25px !important;
    font-weight: 20px !important;
  }
  .fa-chevron-up {
    color: #f4511e;
    font-size: 20px !important;
    font-weight: 10px !important;
  }
  .carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-color: #f4511e !important;
    border-radius: 10px !important;
    margin: 3px !important;
    cursor: pointer !important;
    border: 1px solid #f4511e!important;
  }
  .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    border-color: #f4511e;
    border-radius: 10px;
    background-color: #f4511e;
    margin: 1px;
    cursor: pointer;
    border: 1px solid #f4511e;
}
.item h4 { 
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e; 
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
  } 
  .panel-heading h1{
    font-size: 36px !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .btn1{
    border: 1px solid #ced4da
  }
  